@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(241 245 249);

    display: flex;
    justify-content: center;
    align-items: center;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
